# Ignore all .log files
#*.log

# Ignore a specific file or directory
#secret.txt
#build/

# Ignore all files in a specific directory
#some-directory/*

# Ignore a specific file extension in all directories
#**/*.bak

back/
dataset_chat/
dataset_preprocessing_errors/
data/
test/
helloworld.py