# Ignore all .log files
#*.log

# Ignore a specific file or directory
#secret.txt
#build/

# Ignore all files in a specific directory
#some-directory/*

# Ignore a specific file extension in all directories
#**/*.bak

__pycache__/
back/
CatNet/__pycache__/
dataset_augmented/
dataset_chat/
dataset_chat_downscale/
dataset_chat_downscale_no_background/
dataset_chat_eliot/
dataset_chat_eliot_downscale/
dataset_chat_eliot_downscale_no_background/
dataset_preprocessing_errors/
data/
figures/data/
misc/
ourOwnDataset/
test/
dataset_chat_downscale.zip
dataset_chat_downscale_no_background.zip
helloworld.py
.gitignore
